*{
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}


a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.mainNavigation{
  background-color: #032541;
  color: white;
  text-align: center;
  display: flex;
  height: 7vh;
  align-items: center;
  justify-content: space-between;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size: 1em;

  .containerLeftRight {
    display: flex;
    width: 100%;
    padding: 30px;
    height: 100%;
    font-weight: 600;

    .leftNavigation{
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: space-between;
    }
  
    .rightNavigation{
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: flex-end;

      .language{
        width: 28px;
      height: 26px;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      border: 1px solid #fff;
      border-radius: 3px;
      color: #fff;
      font-weight: 600;
      font-size: 0.9em;
      margin-left: 30px;

      }

      a {
        color: white;
        margin-left: 30px;
      }

      img {
        min-width: 1em;
        min-height: 1em;
        width: 1em;
        height: 1em;
        font-size: 1.9em;
      }
    }
  }

  img{
    width: 154px;
    height: 20px;
  }

  .topmenu{
    width: 100%;
    margin-left: 30px;
  }
  .topmenu > li {
    width: 25%;
    float: left;
    position: relative;
    font-family: 'Open Sans', sans-serif;
  }
  
  .submenu-link:after {
    content: "\f107";
    font-family: "FontAwesome";
    color: inherit;
    margin-left: 10px;
  }
  .submenu {
    background: #273037;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 5;
    width: 180px;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: 0 0;
    transition: .5s ease-in-out;
  }
  
  .submenu li:last-child a { border-bottom: none; }
  .topmenu > li:hover .submenu {
    opacity: 1;
    transform: scaleY(1);
  }
}

.main {
  height: 60vh;
}

.footer {
  background: #03213B;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  .mainFooter {
    display: flex;
    color: white;
    padding-top: 80px;
    padding-bottom: 80px;
    font-size: .9em;
    width: 95%;

    h3 {
      font-weight: bold;
      font-size: 1.4em;
      line-height: 1.4em
    }

    li {
      line-height: 1.6em;
      max-width: 260px;

      a {
        font-size: 1.2em;
        color: white;
      }
    }

    .block-left {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-right: 40px;
      img {
        width: 130px;
        height: 94px;
        position: relative;
        top: -40px;
      }
      a {
        background-color: #fff;
        color: #1EB8D7;
        font-size: 1.3em;
        font-weight: bold;
        border: 2px solid #fff;
        border-radius: 5px;
        padding: 8px 16px;
      }
    }

    .block {
      margin-right: 40px;
      
    }
  }
}

.logIn {

  .LogInGeneral {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 30px;

      h2 {
        font-size: 1.5em;
        margin: 0 0 4px 0;
        font-weight: 600;
      }

      p {
        margin-bottom: 16px;
        font-size: 1em;
      }

      a {
        color: #1eb8d7;
      }
    }

  .LogInInputs {
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 1rem;
    padding: .375rem .75rem;
    display: flex;
    flex-direction: column;

    input {
      padding: 12px 20px;
      margin: 8px 0;
      border: 3px solid #ccc;
      transition: 0.5s;
      outline: none;
      border-radius: 0.25rem;
      height: calc(1.5em + .75rem + 2px);
      border-width: 1px;
      font-size: 1rem;
      line-height: 1.5;
      box-sizing: border-box;
    }
    
    input:focus {
      border: 3px solid #1EB8D7;
      border-width: 1px;

    }
  }

  .LogInButton {
    padding: .375rem .75rem;
    display: flex;
    align-items: center;

    button {
      color: #fff;
      background-color: #1EB8D7;
      font-weight: 700;
      border: none;
      border-radius: 10px;
      padding: 0.375rem 1.5rem;
      line-height: 1.5;
      // transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out,box-shadow .2s ease-in-out;
      // transition-property: color, background-color, border-color, box-shadow;
      // transition-duration: 0.2s, 0.2s, 0.2s, 0.2s;
      // transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
      // transition-delay: 0s, 0s, 0s, 0s;
    }

    a {
      color: #1EB8D7;
      margin-left: 10px;
    }
  }
}


.mainUp {

  .LogUpGeneral {
    display: flex;
    padding: 0 40px;
    margin: 20px 0;

    .LogUpLeft {
      min-width: 260px;
      width: 260px;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
      border: 1px solid rgba(lightGrey, 1);

      h3 {
        margin: 0;
        font-weight: 600;
        padding: 20px;
        color: #fff;
        font-size: 1.1em;
        background: #1EB8D7;
      }

      .LogUpTable {

        ul {
          overflow: visible;
          padding: 8px 0;
        }

        li {
          display: flex;
          padding-left: 40px;
          padding: 10px 20px;
          line-height: 1.4em;
        }

        img {
          width: 1.2em;
          height: 1.2em;
        }    
      }
    }

    .LogUpRight {
      padding-left: 30px;

      .LogUpContent {
        p {
          margin-top: 10px;
        }
      }

      .LogUpInputs {
        display: flex;
        flex-direction: column;
        font-size: 1rem;
        line-height: 1.5;
        margin-top: 1rem;
    
        input {
          padding: 12px 20px;
          margin: 0 0 20px 0;
          border: 3px solid #ccc;
          transition: 0.5s;
          outline: none;
          border-radius: 0.25rem;
          height: calc(1.5em + .75rem + 2px);
          border-width: 1px;
          font-size: 1rem;
          line-height: 1.5;
          box-sizing: border-box;
        }
        
        input:focus {
          border: 3px solid #1EB8D7;
          border-width: 1px;
        }

        p {
          margin: 30px 0;
        }
      }

      .LogUpButton {
        display: flex;
        align-items: center;

        button {
          color: #fff;
          background-color: #1EB8D7;
          font-weight: 700;
          border: none;
          border-radius: 10px;
          padding: 0.375rem 1.5rem;
          line-height: 1.5;
          // transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out,box-shadow .2s ease-in-out;
          // transition-property: color, background-color, border-color, box-shadow;
          // transition-duration: 0.2s, 0.2s, 0.2s, 0.2s;
          // transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
          // transition-delay: 0s, 0s, 0s, 0s;
        }
    
        a {
          color: #1EB8D7;
          margin-left: 10px;
        }
    
      }
    }
  }
}


.popular-films {
  display: flex;
}

.welcome {
  background-image: linear-gradient(to right, rgba(3,37,65, 0.8) 0%, rgba(3,37,65, 0) 100%), url(./Image/welcome-main-backgraund.jpg);
  min-height: 300px;
  height: calc(100vh / 2.5);
  max-height: 360px;
  background-size: cover;
  color: #fff;
  display: flex;
  align-items: center;
  .welcome-main {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    .welcome-header {
      margin-bottom: 20px;
      h2 {
        font-size: 3em;
        font-weight: 700;
        line-height: 1;
      }
      h3 {
        font-size: 2em;
        font-weight: 600;
      }
    }
    .welcome-input {
      margin-top: 30px;
      display: flex;
      input {
        width: 100%;
        height: 46px;
        line-height: 46px;
        font-size: 1.1em;
        border: none;
        border-radius: 50px;
        padding: 10px 20px;
        font: inherit;
        color: rgba(0,0,0,0.5);
        outline: none;
      }
      
      button {
        height: 46px;
        padding: 10px 26px;
        border: none;
        background: linear-gradient(to right, rgba(30,213,169, 1) 0%, rgba(1,180,228, 1) 100%);
        border-radius: 30px;
        position: relative;
        right: 100px;
        font-weight: 700;
      }
    }  
  }
}
